alias ynpm='prioritize-yarn'
#alias rm='trash'
alias rm-node-modules="find . -name "node_modules" -exec rm -rvf '{}' +"
alias colJs='pbpaste | highlight --syntax=js --style=rand01 -O rtf --font-size 28 --font Monaco | pbcopy'
alias colHTML='pbpaste | highlight --syntax=html -O rtf --font-size 28 --font Monaco | pbcopy'
alias colCSS='pbpaste | highlight --syntax=css -O rtf --font-size 28 --font Monaco | pbcopy'
alias colSCSS='pbpaste | highlight --syntax=scss --style=rand01 -O rtf --font-size 28 --font Monaco | pbcopy'
alias ip='ifconfig | grep inet | grep broadcast | awk '\''{print $2}'\'