alias brew-update='brew update && brew upgrade && brew cleanup'
alias colCSS='pbpaste | highlight --syntax=css -O rtf --font-size 28 --font Monaco | pbcopy'
alias colHTML='pbpaste | highlight --syntax=html -O rtf --font-size 28 --font Monaco | pbcopy'
alias colJs='pbpaste | highlight --syntax=js --style=rand01 -O rtf --font-size 28 --font Monaco | pbcopy'
alias colSCSS='pbpaste | highlight --syntax=scss --style=rand01 -O rtf --font-size 28 --font Monaco | pbcopy'
alias dnsflush="dscacheutil -flushcache && killall -HUP mDNSResponder"
alias ip='ifconfig | grep inet | grep broadcast | awk '\''{print $2}'\'
alias reload='exec $SHELL -l'
alias rm-node-modules="find . -name "node_modules" -exec rm -rvf '{}' +"
alias ynpm='prioritize-yarn'
alias backup='rsync -azvh --delete'
#alias rm='trash'