[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[push]
  default = simple
[user]
  name = Marco Cedaro
  email = cedmax@users.noreply.github.com
[core]
  excludesfile = /Users/cedmax/.gitignore_global
  editor = code --wait
[diff]
  tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
  keepBackup = false
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  amend = !git add . && git commit --amend --no-edit
  review = !git difftool `git merge-base HEAD stage`
  purge = !git branch -vv | grep ': gone]' | awk '{print $1}' 
  purge-real-deal = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
  restore= !git checkout $(git rev-list -n 1 HEAD -- "$file")^ -- "$file"

#[commit]
#  template = /Users/cedmax/.stCommitMsg
